langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langserve
langsmith
chromadb
fastapi
pydantic
uvicorn
sse-starlette
python-dotenv
requests
openai
google-generativeai
pypdf
selenium
webdriver-manager
beautifulsoup4
