#selenium
#webdriver-manager
#pypdf
fastapi
pydantic
uvicorn
python-dotenv
langserve

langchain
langchain-core
langchain-community
langchain-openai
langchain-chroma
langchain-huggingface

sentence-transformers
chromadb
requests
#beautifulsoup4
sse_starlette
